{% extends 'base.html' %}

{% block content %}

<form class="sign-up-container" method="POST">
    {{ form.hidden_tag() }}
    <div class="sign-in-container">
        <div class="form-group">
            <div class="sign-in">
                <h1>Sign In</h1>
                <br><br>
            </div>
            <fieldset>
                {{ form.username.label }}
                {{ form.username(class='form-control', placeholder='Username') }}
            </fieldset>
            <fieldset>
                {{ form.password.label }}
                {{ form.password(class='form-control', placeholder='Password') }}
            </fieldset>
            <fieldset>
                {{ form.remember_me.label(class='form-check-label') }}
                {{ form.remember_me(class='form-check-input') }}
            </fieldset>.
            <br>
            {{ form.submit(class='btn btn-primary') }}

        </div>
        <br>

        <div style="text-align:center;">Not a member?</div>
        <a class="nav-link" style="text-align:center;" href="{{ url_for('auth.signMeUp') }}"><u>Sign Up</u></a>
    </div>
</form>


{% endblock content %}