{% extends 'base.html' %}

{% block content %}
    <br>
    <h3 style="width:700px;margin-left:auto;margin-right:auto;text-align:center;">
        This ECommerce site is grossly unfinished, but you can at least see some basic examples of moving products into your cart, viewing the total value, and editing your cart..
    </h3>
    <br>
    <h3 style="width:700px;margin-left:auto;margin-right:auto;text-align:center;">
        Come back later to see a more finished version!
    </h3>

{% endblock content %}




    